body {
  background-color: #ccc;
  font-family: 'Gill Sans',Arial,Helvetica,sans-serif;
  font-size: 12px;
}

a:link, a:visited, a:hover, a:active {
  color: #333;
  text-decoration: underline;
}

#header {
  width: 700px;
  margin: 20px auto 2px auto;
  text-align: right;
}

#header .links a {
  text-decoration: none;
  font-size: 1.1em;
}

#header .links a:hover {
  text-decoration: underline;
}

#content {
  width: 700px;
  margin: 0 auto;
  clear: both;
}

#content #new_paste {
  text-align: center;
}

#content #new_paste textarea,
#content #new_paste input,
#content #new_paste select
{
  background-color: #eee;
  border: 1px solid #999;
  font-size: 12px;
}

#content #new_paste textarea {
  background: #fff url('/images/logo_faded.png') no-repeat scroll top right;
}

#content #new_paste #why_email {
  width: 300px;
  margin: 0.5em auto 0 auto;
}

#content #paste_content {
  width: 100%;
  background: #fff url('/images/logo_faded.png') no-repeat scroll top right;
  border: 1px solid #999;
  font-size: 12px;
  padding: 5px;
  white-space: pre;
  font-family: 'Monaco', 'Lucida Console', 'Courier New';
}

#content #new_paste #paste_content {
  height: 30em;
}

