body {
  background-color: #ccc;
  font-family: 'Gill Sans',Arial,Helvetica,sans-serif;
  font-size: 13px;
}

a:link, a:visited, a:hover, a:active {
  color: #333;
  text-decoration: underline;
}

#header {
  width: 90%;
  margin: 20px auto 2px auto;
  text-align: right;
}

#header .links a {
  text-decoration: none;
  font-size: 1.1em;
}

#header .links a:hover {
  text-decoration: underline;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3px 0 1em 0;
  text-align: center;
  color: #333;
  background-color: #ccc;
  border-top: 1px solid #999;
}

#content {
  width: 90%;
  margin: 0 auto 50px auto;
  clear: both;
}

#content #new_paste {
  text-align: center;
}

form textarea,
form input,
form select,
button
{
  background-color: #eee;
  border: 1px solid #999;
  font-size: 12px;
}

form textarea {
  background: #fff url('/images/logo_faded.png') no-repeat scroll top right;
  width: 100%;
  border: 1px solid #999;
  font-size: 12px;
  font-family: 'Monaco', 'Lucida Console', 'Courier New';
  height: 30em;
}

#content #new_paste #why_email {
  float: right;
  width: 70%;
  margin-top: 0.5em;
}

#content #new_paste #errors {
  margin-top: 1.0em;
  clear: both;
}

#content #pasted_content {
  position: relative;
  width: 100%;
  min-height: 150px;
  max-height: 800px;
  background: #fff;
  border: 1px solid #999;
  font-size: 12px;
  font-family: 'Monaco', 'Lucida Console', 'Courier New';
  overflow: auto;
}

#content #pasted_content.message {
  padding: 5px;
  white-space: pre
}

#content #pasted_content .logo_faded {
  position: absolute;
  top: 0;
  right: 0
}

#content #pastes {
  margin-top: 1em;
}

#content #pastes .link_to {
  float: left;
  color: #333;
  font-size: 1.1em;
}

#content #pastes .created_at {
  float: right;
  color: #333;
  font-size: 0.9em;
}

#content #pastes .snippet {
  clear: both;
  border: 1px solid #999;
  height: 4em;
  font-size: 12px;
  padding: 5px;
  white-space: pre;
  font-family: 'Monaco', 'Lucida Console', 'Courier New';
  margin-bottom: 2em;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
}

#content .pagination {
  text-align: center;
}

#content .whitebox {
  clear: both;
  width: 100%;
  min-height: 120px;
  background-color: #fff;
  border: 1px solid #999;
  padding: 5px;
  color: #333;
}

#content .whitebox p {
  margin: 0.5em 0;
  font-size: 110%;
}

#content .whitebox h1 {
  font-size: 2em;
}

#content .whitebox h2 {
  font-size: 1.3em;
  padding-top: 1em;
}

#content .whitebox .logo_faded {
  float: right;
  padding: 0 0 20px 30px;
}

#content .below_pasted_content {
  float: right;
  text-align: right;
}

/************************************************************/

div.auto_complete {
  width: 350px;
  background: #fff;
}
div.auto_complete ul {
  border:1px solid #999;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}
div.auto_complete ul li {
  margin:0;
  text-align: left;
  padding:3px;
}
div.auto_complete ul li.selected {
  background-color: #eee;
}
div.auto_complete ul strong.highlight {
  margin:0;
  padding:0;
  text-decoration: underline;
}
