<div class='whitebox'>
  <%= image_tag "logo_faded.png", :id => 'logo_faded' %>

<h1>About Paste Free</h1>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer ac ante vitae
libero dignissim euismod. Quisque orci nisi, pretium vitae, tincidunt vel,
pellentesque a, mauris. Morbi consequat posuere tortor. Vivamus odio. Mauris
malesuada faucibus ipsum. Vestibulum accumsan pede sit amet mi. Sed tellus
metus, pellentesque sit amet, faucibus at, molestie eu, diam. Pellentesque sit
amet turpis. Proin urna urna, pretium sit amet, lobortis at, tincidunt ut,
lacus. Nunc pellentesque ligula sed augue. Pellentesque et sem. Lorem ipsum
dolor sit amet, consectetuer adipiscing elit. Cras ut nisi. Suspendisse laoreet
erat dignissim lectus. Aenean vehicula metus et pede.
</p>

<p>
Nulla facilisi. Fusce eu erat id odio tincidunt sagittis. Proin nisl odio,
pulvinar non, eleifend non, vulputate id, leo. Cum sociis natoque penatibus et
magnis dis parturient montes, nascetur ridiculus mus. Phasellus elementum felis
porta eros. Aenean commodo. Aliquam erat volutpat. Donec at erat. Vivamus
ultricies. Etiam consectetuer, dui vitae hendrerit sollicitudin, leo lorem
vehicula arcu, tempus eleifend ante purus et eros. Morbi pellentesque accumsan
dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia
nostra, per inceptos himenaeos. Duis tincidunt imperdiet dolor. Morbi tincidunt
ligula et risus. Vestibulum tortor quam, molestie id, faucibus quis, facilisis
quis, libero. Suspendisse pretium mattis velit. Aliquam placerat mauris et
nibh. Quisque ut sem. Mauris egestas.
</p>

<p>
Nam tempus dignissim mi. Sed convallis est rhoncus lacus. Aliquam erat
volutpat. Nulla fermentum, risus pellentesque iaculis venenatis, sapien ligula
molestie tellus, in vestibulum elit quam vel eros. Suspendisse ultrices, metus
et viverra ornare, turpis enim consequat quam, vitae porta nulla risus ut nunc.
Nullam eget ipsum. Nullam erat. Sed vel felis. Nullam rhoncus dictum ante.
Donec sed sapien id turpis gravida molestie. Sed ligula libero, porttitor sit
amet, tempus sed, porttitor dictum, neque. Donec eleifend tempor mi. Integer
sodales neque ac purus. Duis imperdiet ultrices metus. Vivamus consectetuer
aliquet turpis.
</p>

<p>
Aliquam in metus sed neque pharetra consequat. Quisque est. Donec lacinia
pharetra risus. Pellentesque nec eros at massa consequat pulvinar. Quisque eu
nisl at augue ultricies aliquam. Nunc dignissim cursus libero. Nulla a massa id
massa tincidunt venenatis. Vivamus augue sem, bibendum sed, commodo in, aliquam
in, ante. Morbi posuere feugiat elit. In vitae libero. Praesent lorem felis,
imperdiet non, aliquet vitae, sagittis in, ligula. Quisque mollis nisi at
ligula. Pellentesque condimentum, libero sed interdum malesuada, lectus dui
fermentum quam, sed commodo est dolor at ante. Ut vitae enim. 
</p>

</div>
