<div class='whitebox'>
  <%= image_tag "logo_faded.png", :id => 'logo_faded' %>

<h1>About Paste Free</h1>

<h2>Who?</h2>
<p>
  Paste Free is a product of <%= link_to 'PJKH, LLC', 'http://www.pjkh.com', :target => 'pop' %>.
</p>

<h2>Why?</h2>
<p>
  I know there are a lot of other 'paste bin' applications out there and yes I
  am reinventing the wheel.  However, I have a hard time remembering their URL
  and none of them we're written by me. I also plan to add some features I
  haven't seen in the other applications.
  <br />
  <br />
  More importantly though Paste Free provides potential clients a fairly
  simple, self contained application developed completely by myself.  I can
  provide the source code without worrying about violating confidentiality
  agreements. I can implement things the way I would if given the time and
  resources.
</p>


</div>
