<html>
  <head>
    <title>Time to Upgrade Your Browser</title>
  </head>
  <body>
    <h1>Time to Upgrade Your Browser</h1>

    <p>
      Sorry, but Paste Free does not support the following browsers:

      <ul>
        <li>Microsoft Internet Explorer 6</li>
      </ul>

      Please upgrade your browser if you wish to use Paste Free.
      I would recommend <%= link_to 'Firefox', 'http://www.mozilla.com/firefox/', :target => 'pop' %>.

    </p>

  </body>
</html>


