<div id='pastes'>
  <% @pastes.each do |paste| %>
    <div class='paste'>
      <div class='link_to'>#<%= link_to paste.id, paste_path(paste) -%></div>
      <div class='created_at'><%= paste.created_at -%></div>
      <div class='snippet'><%=h paste.content -%></div>
    </div>
  <% end %>
</div>
