<div id='pastes'>
  <% @pastes.each do |paste| %>
    <div class='paste' onclick="document.location = '<%= paste_path(paste) -%>'">
      <div class='created_at'><%= paste.created_at -%></div>
      <div class='snippet'><%=h paste.snippet -%></div>
    </div>
  <% end %>
</div>

<%= will_paginate @pastes %>
