<% form_for(@paste, :html => {:multipart => true}) do |f| %>
  <%#= f.file_field :file_path %>

  <%= f.text_area :content %>

  <div class='below_pasted_content'>
    <%= belongs_to_auto_completer :paste, :syntax, :name, {:id => 'paste_syntax'}, {:value => 'Syntax', :onclick => 'this.select()', :autocomplete => :off, :title => ""}, {:skip_style => true}  %>

    <%= f.submit "Paste!" %>

    <div id="syntax_instructions" style='display: none'>
      Begin typing the name of the syntax you wish to use for highlighting,<br />then select from the available options.
    </div>

    <% unless @paste.errors.blank? %>
      <div id='errors'>
        <b>Uh-oh. Errors.</b>
        <ul>
          <li><%= @paste.errors.full_messages.join('.</li><li>') %>.</li>
        </ul>
    <% end %>

  </div>

<% end %>

<% content_for :head do %>
  <script type='text/javascript'>
    function toggle_instructions(event) {
      $('syntax_instructions').toggle();
    }
    Event.observe(window, 'load', function() {  
        Event.observe($('paste_syntax_tf'), "mouseover", toggle_instructions);
        Event.observe($('paste_syntax_tf'), "mouseout", toggle_instructions);
    });
  </script>
<% end %>

