<div id='pasted_content' class='message'>
<%= image_tag "logo_faded.png", :class => 'logo_faded' -%>
  You do not have any pastes at this time.  

  Why don't you create a <%= link_to 'new paste', new_paste_path %>?
</div>
