<div id='paste_content' style='padding: 5px; white-space: pre'>
  This paste is pending approval.

  If you authored this paste, check your email for further instructions.

  If this paste is not approved within 24 hours it will be removed.
</div>

