<div id='pasted_content' style='position: relative; padding: 5px; white-space: pre'>
<%= image_tag "logo_faded.png", :style=>'position: absolute; top: 0; right: 0' -%>
  This paste is pending approval.

  If you authored this paste, check your email for further instructions.

  If this paste is not approved within 24 hours it will be removed.
</div>

