<div id='pasted_content' class='message'>
<%= image_tag "logo_faded.png", :class => 'logo_faded' -%>
  This paste is pending approval.

  If you authored this paste, check your email for further instructions.

  If this paste is not approved within 24 hours it will be removed.
</div>

